# ---------- Global ----------
aws_region   = "eu-north-1"
environment  = "dev"
project_name = "blackbox"

# ---------- CloudFront ------
cloudfront_price_class = "PriceClass_100"
viewer_protocol_policy = "redirect-to-https"
default_root_object    = "index.html"
cloudfront_enabled     = true

# ---------- EventBridge -----
eventbridge_schedule_expression = "cron(0 2 * * ? *)"   
