{
    "Comment" : "A placeholder state machine, to be defined later.",
    "StartAt" : "Placeholder",
    "States" : {
      "Placeholder" : {
        "Type" : "Pass",
        "Result" : "Success",
        "End" : true
      }
    }
  }